li {
    list-style: none;
}
.ticket-container {
    background:#37283C;
    color: #FFFFFF;
    width: 260px;
    height: 150px;
    margin-bottom: 20px;
    margin-top:20px;
}
.after-element {
    width: 100%;
}
.after-element::before {
    content:'';
    background: red;
}
.after-element::after {
    content:'';
    background: green;
}
img {
    width: 100px;
    height: 65px;
    float: left;
    padding-top: 1em;
    padding-left: 0.6em;
}
.ticket-content {

}
.ticket-name {
    padding-left: 5.2em;
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 0.3em;
}
.ticket-count {
    padding-left: 7.4em;
}
.ticket-desc {
    text-align: left;
    padding-top: 2em;
    padding-left: 0.6em;
}
.ticket-cost {
    margin-top: -4.2em;
    margin-left: 8.4em;
    font-size: 1.5em;
}