li {
    list-style: none;
}
.ticketMain {
    display: inline-block;
}
.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
  }
   .c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
   }
.a {
    text-decoration: none;
    color: #fff;
}
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sorry {
    font-size: 48px;
}
filtr {
    border: 2px solid #37283C;
}
.ticket-container {
    position: relative;
    box-sizing: border-box;
    width: 19rem;
    min-height: 7rem;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #37283C;
    color: #fff;
    max-width: 100%;
}
.ticket-container:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(#37283C, #33332c);
}
.ticket-container:before {
    content: '';
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    top: 0px;
    background: radial-gradient(circle at right, white, white 40%, #37283C 28%, #37283C 100%) 290px 48px / 14px 23px repeat-y
}
.ticket-container:after {
    content: '';
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    top: 0px;
    background: radial-gradient(circle at left, white, white 40%, #37283C 28%, #37283C 100%) 0px 48px / 14px 23px repeat-y;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 3px;
}

img {
    display: inline-block;
    vertical-align: top;
    padding-left: 16px;
    width: 30%;
    height: auto;
    padding-top: 0.7rem;
}
.ticket-name {

}
.ticket-content {
    padding-left: 10px;
    display: inline-block;
    width: 175px !important;
}
.ticket-count {
    color: #C9C5CA;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
.ticket-desc {
    padding-left: 0.9rem;
}
.ticket-cost {
    padding-right: 0.6rem;
    color: #EEA224;
}