li {
    list-style: none;
}
.ticket-container {
    background:#37283C;
    color: #FFFFFF;
    width: 325px;
    height: 150px;
    margin-bottom: 20px;
    margin-top:20px;
}
.header {
    display: flex;
    justify-content: space-around;
    padding-top: 17px;
    padding-bottom: 3px;
}
.after-element {

}
.after-element::before {
    content: 'text';
    background: white;
    position: absolute;
    left: 31px;
    top: 159px;
    border-radius: 45px;
}
.after-element2::before {
    content: 'text';
    background: white;
    position: absolute;
    left: 31px;
    top: 193px;
    border-radius: 45px;
}
.after-element3::before {
    content: 'text';
    background: white;
    position: absolute;
    left: 31px;
    top: 227px;
    border-radius: 45px;
}
.after-element4::before {
    content: 'text';
    background: white;
    position: absolute;
    left: 31px;
    top: 266px;
    border-radius: 45px;
}
.after-element::after {
    content: 'text';
    background: white;
    position: absolute;
    left: 365px;
    top: 159px;
    border-radius: 45px;
}
.after-element2::after {
    content: 'text';
    background: white;
    position: absolute;
    left: 365px;
    top: 193px;
    border-radius: 45px;
}
.after-element3::after {
    content: 'text';
    background: white;
    position: absolute;
    left: 365px;
    top: 227px;
    border-radius: 45px;
}
.after-element4::after {
    content: 'text';
    background: white;
    position: absolute;
    left: 365px;
    top: 266px;
    border-radius: 45px;
}

img {
    width: 100px;
    height: 65px;
    float: left;
    padding-top: 1em;
    padding-left: 0.6em;
}
.ticket-content {

}
.ticket-name {
    font-size: 27px;
}
.ticket-count {
    color: #C9C5CA;
    font-size: 20px;
    padding-bottom: 24px;
    padding-left: 128px;
}
.ticket-desc {
    padding-left: 10px;
}
.ticket-cost {
    font-size: 27px;
    color: #EEA224;
}