
<h1>События</h1>
<div ng-if="error" class="error">
    <div class="sorry">Sorry... Something went wrong.</div>
    <img src="../img/error.png">
</div>
<table ng-if="!error" class="table table-striped">
    <thead>
    <tr>
        <th>Название</th>
        <th class="text-right">Дата</th>
        <th class="text-right">Время начала</th>
        <th class="text-right">Время окончания</th>
        <th class="text-right">Клуб</th>
    </tr>
    </thead>
    <tbody>
    <tr  ng-repeat="event in eventsFilter ">
        <td>{{event.name}}</td>
        <td class="text-right">{{event.date }}</td>
        <td class="text-right">{{event.timeStart}}</td>
        <td class="text-right">{{event.timeEnd}}</td>
        <td class="text-right">{{event.club}}</td>

        <td class="text-center">
            <!-- <button class="btn btn-xs btn-primary" ng-click="showTickets(event.event)">
                Просмотреть билеты {{event.event}}
            </button> -->
            <a href="/event/{{event.event}}">Просмотреть событиe</a>
        </td>
        <input class="filtr" ng-if="!error" type="text" ng-model="query">
        <ul class="ulClass">

            <li ng-repeat="ticket in tickets | filter:query">
             
                <div class="ticket-container">

                    <img src="{{ticket.logo}}" alt="{{ticket.name}}">

                    <div class="ticket-content">
                        <div class="header">

                            <div class="ticket-name">{{ticket.name}}</div>
                            <div class="ticket-cost">${{ticket.price}}</div>
                        </div>
                        <div class="ticket-count">Capacity: {{ticket.count}}</div>

                    </div>
                    <div class="ticket-desc">Desc: {{ticket.description}}</div>

                </div>

            </li>
        </ul>

    </tr>
    </tbody>
</table>


