<div ng-repeat="ticket in tickets ">
    <div class="ticket-container" >
        <a class="a" href="/ticket/{{ticket.id}}">
        <img src="{{ticket.logo}}" alt="{{ticket.name}}">

        <div class="ticket-content">
            <div class="header">

                <div class="ticket-name">{{ticket.name}}</div>
                <div class="ticket-cost">${{ticket.price}}</div>
            </div>
            <div class="ticket-count">Capacity: {{ticket.count}}</div>

        </div>
        <div class="ticket-desc">Desc: {{ticket.description}}</div>
    </a>
    </div>
    <a href="/ticket/{{ticket.id}}" ng-click="showTickets(ticket.id)">Просмотреть билет</a>
</div>


<!-- ng-repeat="ticket in $ctrl.tickets "  -->
